<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="biobankingFolder" value="c:\\biobanking\\"/>
    <add key="posIDFile" value="c:\biobanking\scan.csv"/>
    <add key="secondRoundSrcStartGrid" value="4"/>
    <add key="secondRoundDstStartGrid" value="14"/>
    <add key="transferSlice" value="3"/>
    <add key="productSlice" value="4"/>
  </appSettings>
</configuration>
