<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="excelFolder" value="C:\BarcodeGuardExcel\data\"/>
    <add key="plateStartGrid" value="1"/>
    <add key="startGrid" value="7"/>
    <add key="posIDFile" value="c:\posID\scan.csv"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
